# ====================== ESP32-C3 specific ======================
CONFIG_IDF_TARGET="esp32c3"
CONFIG_ESP32C3_DEFAULT_CPU_FREQ_160=y

# Flash & PSRAM (most C3 boards have no PSRAM)
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_PARTITION_TABLE_SINGLE_APP_LARGE=y

# FreeRTOS
CONFIG_FREERTOS_HZ=1000
CONFIG_FREERTOS_USE_TRACE_FACILITY=y

# SPI
CONFIG_SPI_MASTER_IN_IRAM=y
CONFIG_SPI_MASTER_ISR_IN_IRAM=y

# Compiler
CONFIG_COMPILER_OPTIMIZATION_PERF=y
# CONFIG_COMPILER_OPTIMIZATION_SIZE is not set

# Logging
CONFIG_LOG_DEFAULT_LEVEL_INFO=y
CONFIG_LOG_MAXIMUM_LEVEL_DEBUG=y

# Disable unused radios to free RAM and speed up boot
CONFIG_ESP_WIFI_ENABLED=n
CONFIG_BT_ENABLED=n

# LCD related
CONFIG_LCD_RGB_ISR_IRAM_SAFE=y

# Консоль UART0 — нужна для интерактивного ввода частоты SPI через терминал
CONFIG_ESP_CONSOLE_UART_DEFAULT=y
CONFIG_ESP_CONSOLE_UART_NUM=0
CONFIG_ESP_CONSOLE_UART_BAUDRATE=115200
