CONFIG_IDF_TARGET="esp32c3"
CONFIG_ESP32C3_DEFAULT_CPU_FREQ_160=y

CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_PARTITION_TABLE_SINGLE_APP=y

CONFIG_FREERTOS_HZ=1000

# Консоль UART0 115200 (GPIO20 RX / GPIO21 TX на C3 Super Mini)
CONFIG_ESP_CONSOLE_UART_DEFAULT=y
CONFIG_ESP_CONSOLE_UART_NUM_0=y
CONFIG_ESP_CONSOLE_UART_BAUDRATE=115200

CONFIG_LOG_DEFAULT_LEVEL_INFO=y

# Без радио
CONFIG_ESP_WIFI_ENABLED=n
CONFIG_BT_ENABLED=n

CONFIG_COMPILER_OPTIMIZATION_SIZE=y
